@font-face {
  font-family: "Inter";
  src: url(assets/Inter/static/Inter-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
}
/* =============================================starting navbar============================================================== */
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0px;
  gap: 115px;
  height: 91px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#navigation nav {
  padding-top: 8px 0px;
}
#navigation img {
  height: 72px;
  width: 76px;
}
#navigation button {
  font-size: 20px;
  width: 106px;
  height: 29px;
  background: #3e3c6e;
  border: none;
  border-radius: 7px;
  color: #ffffff;
}
#navigation a {
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
#navigation nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

/* =============================================Ending navbar============================================================== */

/* =============================================Starting Home section============================================================== */

/* =============================================Ending Home section============================================================== */
