@font-face {
  font-family: "Inter";
  src: url(assets/Inter/static/Inter-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter";
}
/* =============================================starting navbar============================================================== */
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0px;
  gap: 115px;
  height: 91px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#navigation nav {
  padding-top: 8px 0px;
}
#navigation img {
  height: 72px;
  width: 76px;
}
#navigation button {
  font-size: 20px;
  width: 106px;
  height: 29px;
  background: #3e3c6e;
  border: none;
  border-radius: 7px;
  color: #ffffff;
}
#navigation a {
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
#navigation nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

/* =============================================Ending navbar============================================================== */


/* =============================================Starting Home section============================================================== */
#home {
  background-color: #3e3c6e !important; 
  background: url(assets/images/Vector.png) center bottom/cover no-repeat;
  background-size:1530px 338px;
  display: flex;
  justify-content: center;
  
}
#home div:nth-child(1)
{
  padding: 50px;

}
#home div:nth-child(2) 
{
  display: flex;
  justify-content: center;

}
#home div h2 {
  font-weight: 500;
  line-height: 44px;
  color: white;
}
#home div h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  text-align: left;
  color: #ff959b;
}
#home div h1 span {
  font-weight: 800;
  letter-spacing: 0em;
  color: white;
}
#home div p {
  color: white;
  font-family: Inter;
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
}

#home div button {
  color: black;
  background-color: #ff959b;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  width: 253px;
  height: 51px;
  font-size: 32px;
  line-height: 39px;
  margin-top:60px ;
}
#home div img {
  width: 605px;
  height: 503px;
}

#home div:nth-child(3) span {
  color: #ff959b;
  position: absolute;
  top:200px ;
  right: 20px;
  transform: rotate(90deg);

}
#home div:nth-child(3) .rotate-icon {
  transform: rotate(90deg);

}
#home div .line {
  border-top: 1px #ff959b solid;
  width: 96px;
  position: absolute; 
  top:300px ;
  right:5px;

  transform: rotate(90deg);
}
#home div .rotate-icon {

  position: absolute; 
  top:400px ;
  right:5px;
}
#home div:nth-child(3) i {
  color: white;
  width: 25px;
  height: 25px;
  transform: rotate(270deg);
}

/* =============================================Ending Home section============================================================== */
